// Styles and import of Spectre.css

$primary-color: #046B99;
$secondary-color: #B0E1EB;
$highlight-color: #02BFE7;
$dark-color: black;
$light-color: white;
$accessibility-blue: #2653E8;

// Set global root variables
:root {
    --primary-color: #046B99;
    --secondary-color: #B0E1EB;
    --highlight-color: #02BFE7;
    --dark-color: black;
    --light-color: white;
    --accessibility-blue: #2653E8;

}
* {
    box-sizing: border-box;
}


@import "node_modules/spectre.css/src/spectre";


// ---
// Global Styles Override
// ---

// -- Buttons

.btn, .form-input {
    padding: .5rem 1rem;
    height: auto;
}
.btn {
    font-weight: 500;
}

.btn.btn-primary {
    background-color: $secondary-color;
    border-color: $highlight-color;
    color: $dark-color;
}

.btn.btn-small {
    padding: .2rem .7rem;
}

// -- Container

.spacer {
    display: block;
    width: 100%;
    margin: 0;
    height: 3rem;
}

// -- Text

h1, h2, h3, h4, h5 {
    color: var(--primary-color);
}


// -- Input

// Checkbox
.checkbox {
    display: flex;
    gap: 1rem;

    input[type=checkbox] {
        appearance: none;
        cursor: pointer;
        &::after {
            display: block;
            content: "";
            width: 28px;
            height: 28px;
            border: solid 2px var(--primary-color);
            border-radius: 100%;
        }
        &:checked::after {
            content: url("/check-fill.svg");
        }
    }
}