// Styles and import of Spectre.css

$primary-color: #046B99;
$secondary-color: #B0E1EB;
$highlight-color: #02BFE7;
$dark-color: black;
$light-color: white;
$accessibility-blue: #2653E8;

// Set global root variables
:root {
    --primary-color: #046B99;
    --secondary-color: #B0E1EB;
    --highlight-color: #02BFE7;
    --dark-color: black;
    --light-color: white;
    --accessibility-blue: #2653E8;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*:focus {
    outline: solid 2px #046B99 !important;
    border-color: white !important;
}


@import "node_modules/spectre.css/src/spectre";


// ---
// Global Styles Override
// ---

// -- Buttons

.btn, .form-input {
    padding: .5rem 1rem;
    height: auto;
    color: $dark-color;

    display: inline-flex;
    align-items: center;
    gap: .2rem;
    justify-content: center;
}
.btn {
    font-weight: 600;
    border-color: $highlight-color;
    border-width: 1px;

    
    &:hover, &:active {
        background-color: $light-color;
        border-color: $dark-color;
    }
}

i {
    display: inline-block;
    font-size: 1.7em;
    margin: 0;
    
    &:first-letter {
        margin-left: 0;
        margin-right: .2em;
    }
}

.btn.btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $dark-color;

    &:hover {
        border-color: $light-color;
    }
}

.btn.btn-small {
    padding: .2rem .7rem;
}

a:visited, button:visited {
    color: $dark-color;
}

.form-input {
    border: solid 1px $primary-color;

    &:disabled {
        background-color: rgba(4, 107, 153, .22);
    }
}

.link {
    color: var(--primary-color) !important;
    text-decoration: underline;
}

// -- Container

.spacer {
    display: block;
    width: 100%;
    margin: 0;
    height: 2.5rem;
}

// -- Text

h1, h2, h3, h4, h5 {
    color: var(--primary-color);
}

h1, .h1 { font-size: 1.25rem }
h2, .h2 { font-size: 1.125rem }
h3, .h3 { font-size: 1rem }
h4, .h4 { font-size: .9rem }
h5, .h5 { font-size: .8rem }

h3, .h3, h4, .h4, h5, .h5 {
    color: var(--dark-color);
    font-weight: 600;
}


// -- Input

// Checkbox
.checkbox {
    display: flex;
    gap: 1rem;

    cursor: pointer;

    input {
        appearance: none;
        &::after {
            display: block;
            content: "";
            width: 28px;
            height: 28px;
            border: solid 2px var(--primary-color);
            border-radius: 100%;
        }
        &:checked::after {
            content: url("/check-fill.svg");
        }
    }
}


// -- Lists

ul li {
    list-style-position: outside;
    padding-left: .5em;
}